<header class="header">
    <nav class="header__buttons">
        <!-- <button class="buttons__button button__main" (click)="toggle()" type="button">Главная</button>
        <button class="buttons__button button__create" (click)="toggle()" type="button">Создать</button>
        <button class="buttons__button button__create" (click)="toggle()" type="button">Редактировать</button> -->
        <a href="" class="buttons__button button__main">Главная</a>
        <a href="create" class="buttons__button button__create">Создать</a>
        <a href="edit" class="buttons__button button__edit">Редактировать</a>
    </nav>
</header>


<!-- <app-main *ngIf="condition"></app-main>
<app-create *ngIf="!condition"></app-create> -->

