.header {
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
}

.navigation__links {
    margin: 15px 0 15px 15px;
    display: flex;
}

.links__container {
    list-style-type: none;
}

.container_create {
    margin-left: 20px;
}

.container_edit {
    margin-left: 20px;
}

.container__link {
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
}

.active {
    /* test style */
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 80%;
}